.control {
    .edit {
        padding-inline: var(--gap-mega);
        font-weight: 700;
        letter-spacing: 0.5pt;
    }
    .delete {
        color: var(--de-emph-color);
        font-size: 0.7em;

        letter-spacing: 0.2pt;
    }
    display: flex;
    column-gap: var(--gap-large);
}
