.control {
    button {
        svg {
            --width: 1em;
            width: var(--width);
            height: var(--width);
        }

        &:has(svg) {
            display: grid;
            row-gap: var(--gap-tiny);
            justify-items: center;
            align-items: center;
        }
        align-self: center;
    }

    .edit {
        padding-inline: var(--gap-mega);
        font-weight: 700;
        letter-spacing: 0.5pt;
    }
    .delete {
        color: var(--de-emph-color);
        font-size: 0.7em;

        letter-spacing: 0.2pt;
    }
    display: flex;
    column-gap: var(--gap-large);
}
