.header {
    align-self: start;
    background-color: var(--header-bg);

    min-height: 4rem;

    display: grid;
    grid-auto-flow: column;
}

.title {
    text-align: start;

    font-size: 2rem;
    line-height: 1.1;
}
