.header {
    min-height: 4rem;
    align-self: start;
    display: grid;
    grid-template-columns: minmax(auto, var(--max-width));
    justify-content: center;

    background-color: var(--header-bg);

    button {
        --icon-wdith: 1.25em;
        svg {
            width: var(--icon-wdith);
            height: var(--icon-wdith);
        }
        display: flex;
        align-items: end;
        column-gap: var(--gap-small);
    }

    nav {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;

        /* background-color: green; */

        padding-inline: var(--gap-large);

        .list {
            display: grid;
            align-items: center;
            justify-content: center;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    text-align: start;

    font-size: 2rem;
    line-height: 1.1;
}
