.modal {
    position: fixed;
    top: 0;
    left: 0;
    place-content: center;

    background-color: inherit;
    backdrop-filter: blur(2rem);

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;

    transition: opacity 500ms;
}

.window {
    transform: translateY(-1.25rem);
}

.window-main {
    --radius: 2px;

    > :first-child {
        border-start-start-radius: var(--radius);
        border-end-start-radius: var(--radius);
        border-end-end-radius: var(--radius);
    }
}

.window-controls {
    --wdith: 1.25em;
    svg {
        width: var(--wdith);
        height: var(--wdith);
    }

    button {
        background-color: var(--modal-bg);
        display: flex;
        align-items: end;
    }

    .close {
        border-end-start-radius: 0;
        border-end-end-radius: 0;
    }

    display: grid;
    justify-items: end;
}

.hide-modal {
    z-index: -99;
    opacity: 0;

    > * {
        opacity: 0;
    }
}
