:root {
    --gap-mega: 4rem;
    --gap-large: 2rem;
    --gap-medium: 1rem;
    --gap-small: 0.5rem;
    --gap-tiny: 0.25rem;

    --transition-time: 100ms;

    --bg: #0f1729;
    --button-bg: inherit;
    --button-bg2: color-mix(in srgb, var(--bg), black 10%);
    --input-bg: color-mix(in srgb, var(--bg), white 5%);
    --header-bg: color-mix(in srgb, var(--bg), white 10%);
    --modal-bg: color-mix(in srgb, var(--bg), white 25%);
    --table-header-bg: color-mix(in srgb, var(--bg), white 25%);
    --de-emph-color: rgba(255, 250, 250, 0.8);

    --max-width: 1280px;
    --min-width: 320px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    align-items: start;
    min-height: 100vh;

    position: relative;
}

#root {
    min-width: var(--min-width);

    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 3fr;

    margin: 0 auto;
    text-align: center;
}

main {
    display: grid;
    justify-items: center;
    align-items: start;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

button {
    color: inherit;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-bg);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
