:root {
    --gap-large: 2rem;
    --gap-medium: 1rem;
    --gap-small: 0.5rem;
    --gap-tiny: 0.25rem;
}

table {
    --border-width: medium;
    --border-color: rgba(245, 245, 245, 0.233);
    border-spacing: 0;
    overflow: hidden;

    td {
        border: var(--border-width) solid var(--border-color);
        border-block-width: var(--border-width) 0;
        border-inline-width: 0 0;

        &:first-of-type {
            border-inline-start-width: var(--border-width);
        }

        &:last-of-type {
            border-inline-end-width: var(--border-width);
            /* background-color: green; */
        }

        padding-inline: var(--gap-medium);
        padding-block: var(--gap-tiny);
    }

    tr:first-of-type {
        td:first-of-type {
            /* background-color: green; */
            border-start-start-radius: var(--gap-small);
        }

        td:last-of-type {
            /* background-color: green; */
            border-start-end-radius: var(--gap-small);
        }
    }

    tr:last-of-type {
        td {
            border-block-end-width: var(--border-width);
        }

        td:first-of-type {
            /* background-color: green; */
            border-end-start-radius: var(--gap-small);
        }

        td:last-of-type {
            /* background-color: green; */
            border-end-end-radius: var(--gap-small);
        }
    }
}
